<p id="notice"><%= notice %></p>

<h2>Bugs</h2>

<table class="table table-striped table-responsive-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">User</th>
      <th scope="col">Issue type</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <td><%= (bug.user.try(:fname) || "NA") + " " + (bug.user.try(:lname) || "NA") %></td>
        <td><%= bug.issue_type %></td>
        <td><%= bug.priority %></td>
        <td><%= bug.status %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', bug, :class => "btn btn-outline-primary", :role => "button" %>
            <%= link_to 'Edit', edit_bug_path(bug), :class => "btn btn-outline-secondary", :role => "button" %>
            <%= link_to 'Destroy', bug, :class => "btn btn-outline-danger", :role => "button", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path, :class => "btn btn-outline-success", :role => "button"%>
