<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @bug.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= (@bug.user.try(:fname) || "NA") + " " + (@bug.user.try(:lname) || "NA") %>
    </h6>
    <p class="card-text"><%= @bug.description %></p>
    <span class="card-link"><%= @bug.issue_type %></span>
    <span class="card-link"><%= @bug.priority %></span>
    <span class="card-link"><%= @bug.status %></span>
  </div>
</div>

<br>
<br>
<div class="btn-group" role="group">
  <%= link_to 'Edit', edit_bug_path(@bug) , :class => "btn btn-outline-primary", :role => "button"%>
  <%= link_to 'Back', bugs_path, :class => "btn btn-outline-secondary", :role => "button" %>
</div>